* {
	margin: 0;
	padding: 0;
	font-family: "Verdana", sans-serif;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	margin-bottom: 0;
	background-color: #cfbaf0;
}

nav .nav, nav .nav-title {
	margin: 1rem;
	display: inline;
}

#intro {
	background-color: #f1c0e8;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 2rem;
	text-align: center;
	font-size: 2em;
}

.header {
	text-align: center;
	margin-bottom: .5rem;
}

#intro h2, #intro p {
	margin-bottom: 2rem;
}

#intro button {

	color: black;
	font-weight: bold;
	background-color: #8ecae6;
	border-radius: 100px;
	font-size: 1rem;
	padding: .7rem;
}

p {
	font-size: 1.2rem;
}